
*.o
autoconf.mk
.depend
*.bin
include/config.h
nboot/boot0.lds
*.axf
*.map
plat.mk
include/commit_info.h
.module.mk
*.elf
*.lds
!fes1.lds
!boot0.lds
!sboot.lds
.module.common.mk
*.swp
drivers/dram/sun8iw18p1/libchipid
